discord_api_key=YOUR_DISCORD_API_KEY
pdb_postmortem=True
psql_url="postgresql://laura:wrenthd@localhost:5432/database_name"
pushover_notify_on_exit=True
pushover_app_token=YOUR_PUSHOVER_APP_TOKEN
pushover_user_key=YOUR_PUSHOVER_USER_KEY